[flake8]
# https://pep8.readthedocs.io/en/latest/intro.html#error-codes
ignore =
    # line break after operator
    W504
# Max width of Github code review is 79 characters
max-line-length = 79
max-complexity = 18
exclude =
    .git,
    docs,
