## Config options related to CMIP datasets
[cmip_dataset]

# lat and lon variable names and dimensions
lat_var = latitude
lon_var = longitude
y_dim = y
x_dim = x


## Config options related to conversion of CMIP datasets (thetao/so -> ct/sa)
[convert_cmip]

# depth coordinate variable name
depth_var = lev

# time chunk for conversion
time_chunk = 12


## Config options related to vertical and horizontal remapping of CMIP datasets
[remap_cmip]

# size of xarray chunks in time for vertical interpolation
vert_time_chunk = 1

# size of xarray chunks in time for horizontal remapping
horiz_time_chunk = 120


## Config options related to extrapolation of remapped CMIP datasets
[extrap_cmip]

# size of time chunks (months) to process per Fortran run
time_chunk = 1

# number of parallel workers (processes) for time chunks; use 'auto' to leave
# one core free for dispatch on the current machine
num_workers = 32


## Historical monthly mean data files
[historical_files]

thetao = [
        'MRI-ESM2-0/historical/Omon/thetao/thetao_Omon_MRI-ESM2-0_historical_r1i1p1f1_gn_185001-189912.nc',
        'MRI-ESM2-0/historical/Omon/thetao/thetao_Omon_MRI-ESM2-0_historical_r1i1p1f1_gn_190001-194912.nc',
        'MRI-ESM2-0/historical/Omon/thetao/thetao_Omon_MRI-ESM2-0_historical_r1i1p1f1_gn_195001-201412.nc',
    ]

so = [
        'MRI-ESM2-0/historical/Omon/so/so_Omon_MRI-ESM2-0_historical_r1i1p1f1_gn_185001-189912.nc',
        'MRI-ESM2-0/historical/Omon/so/so_Omon_MRI-ESM2-0_historical_r1i1p1f1_gn_190001-194912.nc',
        'MRI-ESM2-0/historical/Omon/so/so_Omon_MRI-ESM2-0_historical_r1i1p1f1_gn_195001-201412.nc',
    ]

start_year = 1850
end_year = 2014

## SSP5-8.5 monthly mean data files
[ssp585_files]

thetao = [
        'MRI-ESM2-0/ssp585/Omon/thetao/thetao_Omon_MRI-ESM2-0_ssp585_r1i1p1f1_gn_201501-206412.nc',
        'MRI-ESM2-0/ssp585/Omon/thetao/thetao_Omon_MRI-ESM2-0_ssp585_r1i1p1f1_gn_206501-210012.nc',
        'MRI-ESM2-0/ssp585/Omon/thetao/thetao_Omon_MRI-ESM2-0_ssp585_r1i1p1f1_gn_210101-215012.nc',
        'MRI-ESM2-0/ssp585/Omon/thetao/thetao_Omon_MRI-ESM2-0_ssp585_r1i1p1f1_gn_215101-220012.nc',
        'MRI-ESM2-0/ssp585/Omon/thetao/thetao_Omon_MRI-ESM2-0_ssp585_r1i1p1f1_gn_220101-225012.nc',
        'MRI-ESM2-0/ssp585/Omon/thetao/thetao_Omon_MRI-ESM2-0_ssp585_r1i1p1f1_gn_225101-230012.nc',
    ]

so = [
        'MRI-ESM2-0/ssp585/Omon/so/so_Omon_MRI-ESM2-0_ssp585_r1i1p1f1_gn_201501-206412.nc',
        'MRI-ESM2-0/ssp585/Omon/so/so_Omon_MRI-ESM2-0_ssp585_r1i1p1f1_gn_206501-210012.nc',
        'MRI-ESM2-0/ssp585/Omon/so/so_Omon_MRI-ESM2-0_ssp585_r1i1p1f1_gn_210101-215012.nc',
        'MRI-ESM2-0/ssp585/Omon/so/so_Omon_MRI-ESM2-0_ssp585_r1i1p1f1_gn_215101-220012.nc',
        'MRI-ESM2-0/ssp585/Omon/so/so_Omon_MRI-ESM2-0_ssp585_r1i1p1f1_gn_220101-225012.nc',
        'MRI-ESM2-0/ssp585/Omon/so/so_Omon_MRI-ESM2-0_ssp585_r1i1p1f1_gn_225101-230012.nc',
    ]

start_year = 2015
end_year = 2300
